# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/libraries
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files
services.yml

# Prod environment
error_log
php.ini
.user.ini

# Ignore Composer-managed dependencies.
vendor/

# Ignore IDE
/.idea
