@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

/*Header*/

body{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  line-height: 170%;
  color: #333;
  overflow-x: hidden;
}

p{ margin: 0 0 10px 0; }

.h1, .h2, .h3, h1, h2, h3 {
  font-weight: 500;
  margin: 10px 0;
}

h1, .h1{ font-size: 1.8em; color: #000; }

h2, .h2{ font-size: 1.6em; color: #000; }

h3, .h3{ font-size: 1.4em; color: #000; }

h4, .h4{ font-size: 1.2em; color: #000; }

img{ max-width: 100%; height: auto; }

.node__content a {
  color: #B38F1D !important;
}

.node__content a:hover{
  color: #DFB636 !important;
}

a{
  color: #4A4B50 !important;
}

#toolbar-administration a {
  color: white !important;
}

a:hover{
  color: #313235 !important;
}

ul.links.inline{
  padding: 0;
}

ul.links.inline li{
  list-style: none;
}

.block{
  margin-bottom: 20px;
}

.main-header{
  color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  background-size: cover;
  position: relative;
}

.main-header:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(21, 22, 26, 0.88);
}

.main-header nav{
  background: none;
  border: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}

.main-header .region{
  position: relative;
  z-index: 2;
}

/*region header*/

.site-branding{
  margin: 0;
}

.brand.logo{
  margin-right: 5px;
}

.region-header .brand{
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.site-name a{
  font-size: 26px;
  color: #fff;
}

/*Banner*/

.welcome-banner-text{
  text-align: center;
  line-height: 160%;
  max-width: 600px;
  padding: 90px 0;
}

.welcome-banner-text h2{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/*top widget*/

.topwidget{
  text-align: center;
  padding: 50px 0;
}

.topwidget .fa{
  font-size: 60px;
  background: #4D4F4A;
  width: 120px;
  height: 120px;
  padding: 32px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 20px;
}

.topwidget .fa span{
  display: none;
}

/*footerwidget*/

.footerwidget{
  background: #2e2e2e;
  color: #D0D0D0;
  padding: 10px 0;
}

.footerwidget img.left{
  float: left;
  margin: 10px 10px 0 0;
}

.copyright{
  background: #000;
  font-size: 10px;
  color: #999;
}

.copyright p{
  margin: 13px 0;
}

.footerwidget h2,
.footerwidget .h2{
  color: #FFF;
}

/*bottom-widgets*/

.bottom-widgets{
  text-align: center;
  background: #FBFBFB;
  padding: 10px 0;
}

.bottom-widgets .region{
  padding: 10px;
  background: #f1f1f1;
}

/*Footer menu*/

.footer-menu{
  margin: 0;
  border: 0;
  background: #eee;
  color: #fff;
}

.footer-menu ul{
  margin: 10px 0;
  padding: 0;
}

.footer-menu nav li{
  display: inline-block;
}

.footer-menu nav li a{
  display: block;
  padding: 4px 20px 4px 0;
}

.google_map p,
.google_map .block{
  margin: 0;
}

.google_map iframe{
  display: block;
}

/*Credit link*/

.credit-link{
  text-align: left;
}

/*SOCIAL MEDIA*/

.social-media{
  margin: 10px 0;
  overflow: hidden;
  float: left;
}

.social-media a {
  width: 30px;
  height: 30px;
  color: #fff;
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  background: #3262b9;
  font-size: 14px;
  line-height: 220%;
}

.social-media a.google-plus{
  background: #de2020;
}

.social-media a.twitter{
  background: #29C5F6;
}

.social-media a.linkedin{
  background: #069;
}

.social-media a.pinterest{
  background: #C61118;
}

.social-media a.rss{
  background: #FF6D00;
}

.social-media a:hover{
  opacity: .6;
}

/*FORM*/

input, button, select, textarea{
  padding: 9px;
  border: 1px solid #C7C7C7;
}

.contact-message-form label{
  display: block;
}

.btn,
input[type="submit"]{
  background: #dfb636;
  color: #313235;
  font-weight: bold;
  padding: 12px;
  line-height: 100%;
  border-radius: 7px;
}

.btn:hover,
input[type="submit"]:hover{
  background: #FBC41A;
}

/*FRONT PAGE*/

.path-frontpage .content_layout {
  /*text-align: center;*/
}

.path-frontpage .feed-icon{
  display: none;
}

/*MENU*/

.navbar-default .navbar-toggle{
  background: #fff;
  margin-right: 0;
}

nav h2{
  display: none;
}

.menu-base-theme,
.menu-base-theme a,
.menu-base-theme a:hover,
.menu-base-theme a:focus,
.menu-base-theme a:active,
.menu-base-theme a.highlighted{
  background: none;
}

.menu-base-theme li a{
  background: #FBFBFB
}

.main-menu {
  position: relative;
  z-index: 9999;
}

.region-primary-menu{
  display: none;
  background: #fff;
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;
}

.menu-base-theme a{
  border-bottom: 1px solid #EEF0F7;
}

.menu-base-theme a span.sub-arrow{
  color: #999;
  font-size: 22px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
}

.navbar-toggle{
  z-index: 999;
}

/*breadcrumb*/

.breadcrumb{
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.breadcrumb ul{
  padding: 0;
}

.breadcrumb ul li{
  display: inline-block;
}

/*search form*/

#search-block-form{
  display: table;
  width: 100%;
  background-color: #7B7D85;
  padding: 20px 50px;
}

#search-block-form input[type="submit"] {
  margin-left: 5px;
}

#search-block-form .form-item,
#search-block-form .form-actions{
  display: table-cell;
  vertical-align: top;
}

#search-block-form input{
  width: 100%;
  border-width: medium;
  border-color: #313235;
}

/*Demo typography*/

.bd-example {
  position: relative;
  padding: 20px;
  border: 2px solid #f7f7f9;
}

.highlight{
  padding: 20px;
  background-color: #f7f7f9;
}

.highlight pre{
  border: 0;
  background: none;
}

.bd-example-type .table tr:first-child td {
  border-top: 0;
}

.bd-example-type h1,
.bd-example-type h2,
.bd-example-type h3,
.bd-example-type h4,
.bd-example-type h5,
.bd-example-type h6 {
  margin: 0;
}

.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

/*Contact form*/

.path-contact{}

.contact-message-feedback-form{
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid #D8D8D8;
  padding: 10px 30px;
  background: #F5F5F4;
}

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea{
  width: 100%;
}

/*user-login-form*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/*Maintainance*/

.maintenance-page{
  background: url(../images/maintenance-bg.png) #66CBFF center no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  font-size: 18px;
  color: #000;
}

.maintenance-msg {
  margin: 20px 0;
  background: rgba(242, 244, 207, 0.88);
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  box-shadow: 5px 5px 0px #FFFFFF;
  font-size: 14px;
}

.maintenance-msg h1{
  text-transform: uppercase;
  font-weight: bold;
}

.maintenance-page .brand,
.maintenance-page .name-and-slogan{
  display: inline-block;
  vertical-align: middle;
}

.maintenance-page .site-name a{
  color: #404040;
}

.maintenance-page .site-slogan,
.maintenance-page .name-and-slogan{
  display: none;
}


/*Comment*/

.comment-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}

.comment-wrap .author-details{
  float: left;
  width: 20%;
}

.comment-wrap .author-comments{
  padding-left: 5px;
  float: left;
  width: 80%;
}

.comment-submitted{
  padding: 5px 10px;
  border: 1px solid #eee;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.comment-wrap .author-comments h3{
  margin-top: 10px;
}

.comment-wrap .author-comments p{
  margin-bottom: 10px;
}

/*links inline*/

ul.links.inline li{
  display: inline-block;
  padding-right: 10px;
}

/*profile*/

.profile > div{
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.profile h4.label{
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.flexslider{
  z-index: 1;
  margin-top: 10px;
}

.flexslider .slides > li{
  position: relative;
}

.slider-caption{
  display: none;
  position: absolute;
  z-index: 99;
  width: 40%;
  background: #0009;
  left: 10px;
  bottom: 10px;
  padding: 20px;
}

.slider-caption .slider-title{
  color: #fff;
  margin-top: 0;
}

.flex-direction-nav a{
  padding: 10px;
  color: #000;
}

.flex-direction-nav a:before{
  color: #000;
}

.flex-control-paging li a.flex-active{
  background: #fff;
}

/* HEADER */
.brand.logo, .brand.site-name {
  width: 100%;
  text-align:center;
}
.site-branding__slogan {
  width: 100%;
  text-align:center;
}

/* BLOCKS */
.footerwidget a{
  color: #E5E5E7 !important;
}

.footerwidget a:hover{
  color: white !important;
}

.views-element-container H2,
.block H2 {
  font-weight: normal;
  font-size: 1.8em;
  text-align: center;
  padding: 10px 0px;
}

.views-field-field-nombre-del-programa {
  font-weight: bold;
}

.block-views-blocktags-block-1 H2 {
  background-color: #dfb636!important;
  border-top-style: solid;
  border-top-width: medium;
  border-top-color: black;
  color: black!important;
}

.views-element-container H2,
.block H2 {
  background-color: #313235;
  color: #E5E5E7;
}

.block H2 a {
  color: #E5E5E7 !important;
}

.views-element-container H2 a {
  color: #E5E5E7 !important;
}

#block-views-block-programas-mas-vistos-recientemente-block-1 .item-list {
  text-align: left;
}

#block-views-block-programas-mas-vistos-recientemente-block-1 .views-field-field-nombre-del-programa {
  font-weight: bold;
}

#block-views-block-programas-mas-vistos-recientemente-block-1 li {
  margin-bottom: 25px;
}

#block-views-block-programas-mas-vistos-recientemente-block-1 .views-field-field-categoria {
  text-align: right;
  padding: 1em;
}

#block-views-block-programas-mas-vistos-recientemente-block-1 .views-field-field-categoria .field-content a {
  background-color: #DFB636;
  padding: 5px  10px;
  margin: 5px 1px;
  border-radius: 5px;
  border-width: medium;
  border-color: #B38F1D;
}

#block-views-block-programas-mas-vistos-recientemente-block-1 .views-field-field-imagen {
  position: relative;
  float: left;
  margin-right: 2em;
}

#block-views-block-programas-mas-vistos-recientemente-block-1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#block-views-block-top-downloads-block-1 .views-field-field-imagen {
  position: relative;
  float: left;
  margin-right: 1em;
}

#block-views-block-top-downloads-block-1 .views-field-field-nombre-del-programa {
  font-weight: bold;
}

#block-views-block-top-downloads-block-1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#block-views-block-top-downloads-block-1 li {
  margin-bottom: 50px;
}


#block-views-block-tags-block-1 {
  text-align: center;
}

#block-views-block-articulos-destacados-block-1 {
  text-align: center;
}

#block-facebookfans {
  text-align: center;
  padding: 0;
}

#block-banana-page-title H1 {
  background-color: #dfb636!important;
  border-top-style: solid;
  border-top-width: medium;
  border-top-color: black;
  color: black!important;
  padding: 10px 0;
  font-size: 1.8em;
  text-align: center;
}

.views-element-container .item-list .views-field-field-imagen {
  position: relative;
  float: left;
  margin-right: 1em;
}

.views-element-container .item-list  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.views-element-container .item-list  li {
  list-style-type: none;
  margin: 0 0 40px 0;
}

.views-element-container .item-list .views-field-field-categoria {
  text-align: right;
  padding: 1em;
}

.views-element-container .item-list .views-field-field-categoria .field-content a {
  background-color: #DFB636;
  padding: 5px  10px;
  margin: 5px 1px;
  border-radius: 5px;
  border-width: medium;
  border-color: #B38F1D;
}

.-es-descargar-programas-gratis-de-ciencias-sociales-y-humanidades a,
.-en-download-free-software-social-sciences-and-humanities a {
  display: block;
  background-color: #b4b4b4;
  padding: 10px 10px;
  width: 100%;
  font-weight: bold;
}

.-es-descargar-programas-gratis-de-docencia-y-pedagogia a,
.-en-download-free-software-teaching-and-pedagogy a {
  display: block;
  background-color: #ffce36;
  padding: 10px 10px;
  width: 100%;
  font-weight: bold;
}

.-es-descargar-programas-gratis-de-gestion-finanzas-ventas a,
.-en-download-free-software-management-finances-sales a {
  display: block;
  background-color: #e4e390;
  padding: 10px 10px;
  width: 100%;
  font-weight: bold;
}

.-es-descargar-programas-gratis-de-arte-y-multimedia a,
.-en-download-free-software-art-and-multimedia a {
  display: block;
  background-color: #d85656;
  padding: 10px 10px;
  width: 100%;
  font-weight: bold;
}

.-es-descargar-programas-gratis-de-ciencias-naturales a,
.-en-download-free-software-natural-science a {
  display: block;
  background-color: #2ba72b;
  padding: 10px 10px;
  width: 100%;
  font-weight: bold;
}

.-es-descargar-programas-gratis-de-ingenieria-y-arquitectura a,
.-en-download-free-software-engineering-architecture a {
  display: block;
  background-color: #bbded9;
  padding: 10px 10px;
  width: 100%;
  font-weight: bold;
}

.-es-descargar-programas-gratis-de-ciencias-medicas-y-salud a,
.-en-download-free-software-medicine-and-health a {
  display: block;
  background-color: #e95be4;
  padding: 10px 10px;
  width: 100%;
  font-weight: bold;
}

.-es-descargar-programas-gratis-de-informatica-y-telecomunicaciones a,
.-en-download-free-software-computer-and-telecommunications a {
  display: block;
  background-color: #2daac0;
  padding: 10px 10px;
  width: 100%;
  font-weight: bold;
}

.-es-descargar-programas-gratis-de-otras-profesiones a,
.-en-download-free-software-another-crafts a {
  display: block;
  background-color: #f0891b;
  padding: 10px 10px;
  width: 100%;
  font-weight: bold;
}

.-es-descargar-programas-gratis-de-fisica-matematicas-y-astronomia a,
.-en-download-free-software-physical-mathematical-astronomy a {
  display: block;
  background-color: #e1cb62;
  padding: 10px 10px;
  width: 100%;
  font-weight: bold;
}

#block-views-block-categorias-block-1 h2{
  margin-bottom: 0;
}

/* Add to any */
.addtoany_list {
  display: block;
  margin-bottom: 1.5em;
}

/* Node program content */

.node--type-programa .image-container {
  text-align: center;
  display: block;
}

.node--type-programa .layout--threecol-section--33-34-33 {
  background-color: #F4F4F4;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.node--type-programa .block-field-blocknodeprogramafield-nombre-del-programa {
  font-weight: bold;
  font-size: 1.8em;
}

.node--type-programa h2 {
  background-color: inherit;
  color: black;
  font-weight: bold;
  text-align: left;
  font-size: 1em;
  padding: 0;
  line-height: 20px;
  margin: 0 5px 0 0;
}

.node--type-programa .block-field-blocknodeprogramafield-gratis {
  background-color: green;
  display: flex;
  color: white;
  text-align: center;
  padding: 5px 10px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 200px;
}

.node--type-programa .block-field-blocknodeprogramafield-online {
  background-color: #0a6eb4;
  display: flex;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 200px;
}

.node--type-programa .block-field-blocknodeprogramafield-autor,
.node--type-programa .block-field-blocknodeprogramafield-idiomes
{
  background-color: #E5E5E7;
  display: flex;
  padding: 5px 10px;
  margin: 0 auto;
  max-width: 200px;
}

.node--type-programa .block-field-blocknodeprogramafield-categoria div div {
  display:inline-flex;
  background-color: #DFB636;
  padding: 5px  10px;
  margin: 5px 10px;
  border-radius: 5px;
  border-width: medium;
  border-color: #B38F1D;
}

h2.android-icon {
  width: 32px;
  height: 32px;
  color: transparent;
  background-image: url('/sites/default/files/android.png');
}

h2.iphone-icon {
  width: 32px;
  height: 32px;
  color: transparent;
  background-image: url('/sites/default/files/ios.png');
}

h2.windows-icon {
  width: 32px;
  height: 32px;
  color: transparent;
  background-image: url('/sites/default/files/windows.png');
}

h2.windows-32-icon {
  width: 32px;
  height: 32px;
  color: transparent;
  background-image: url('/sites/default/files/windows.png');
}

h2.windows-64-icon {
  width: 32px;
  height: 32px;
  color: transparent;
  background-image: url('/sites/default/files/windows.png');
}

h2.mac-icon {
  width: 32px;
  height: 32px;
  color: transparent;
  background-image: url('/sites/default/files/apple.png');
}

h2.linux-icon {
  width: 32px;
  height: 32px;
  color: transparent;
  background-image: url('/sites/default/files/linux.png');
}


@media (max-width: 400px) {
  /* For cellphones: */
  .responsive-text {
    font-size: 1rem;
  }
  #block-views-block-top-downloads-block-1 li {
    margin-bottom: 40px;
  }

  .footerwidget {
    text-align: right ;
  }

  .footerwidget ul{
    padding: 0;
  }

  .footerwidget table {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  /* For tablets: */
  .responsive-text {
    font-size: 1rem;
  }
  #block-views-block-top-downloads-block-1 li {
    margin-bottom: 70px;
  }

  .footerwidget {
    text-align: center;
  }

  .footerwidget ul{
    padding: 0;
  }

  .footerwidget table {
    margin-left: auto;
    margin-right: auto;
  }

  .node--type-programa .layout--threecol-section--33-34-33 {
    background-color: #F4F4F4;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .node--type-programa .block-field-blocknodeprogramafield-categoria div div {
    display:inline-flex;
    background-color: #DFB636;
    padding: 5px  10px;
    margin: 5px 5px;
    border-radius: 5px;
    border-width: medium;
    border-color: #B38F1D;
    font-size: 1rem;
  }
}
